--allow-all-external
-f http://cairographics.org/releases/
-f http://dist.plone.org/thirdparty/
Jinja2 == 2.7.2
MarkupSafe == 0.23
Werkzeug == 0.9.4
itsdangerous == 0.24
nose == 1.3.3
SQLAlchemy == 0.9.4
Pillow
pycurl
requests
ipython
gunicorn==19.8.1
# django-extensions
# django-cors-headers
# django-finalware
pytz==2015.7



###################################################
# MERGE WITH DATA_DIR/root/seahub/requirements.txt
###################################################
lockfile
pyes
ordereddict
python-dateutil
flup
python_daemon==1.5.5
chardet
six
Django==1.11.11
#Djblets==0.6.14
django-compressor==2.2
django-post-office==3.0.4
django-statici18n==1.7.0 

djangorestframework==3.3.1
# for >= 5
git+git://github.com/haiwen/django-constance.git@8508ff29141732190faff51d5c2b5474da297732#egg=django-constance[database]
openpyxl==2.3.0
django-formtools==2.1
qrcode==5.3 

jdcal==1.2
requests_oauthlib==0.8.0
django-simple-captcha==0.5.6

django_picklefield==0.3.2

django-webpack-loader==0.6.0
git+git://github.com/haiwen/python-cas.git@ffc49235fd7cc32c4fdda5acfa3707e1405881df#egg=python_cas 

##############
# ADDITIONNAL
##############

MySQL-python==1.2.5
python-memcached
python-ldap
urllib3

-e git+https://github.com/makinacorpus/djblets.git@release-0.6.x#egg=Djblets
