--allow-all-external
-f http://cairographics.org/releases/
-f http://dist.plone.org/thirdparty/
--allow-unverified cherrypy
--allow-unverified Djblets
--allow-unverified genshi
--allow-unverified mongodb
Jinja2 == 2.7.2
MarkupSafe == 0.23
Werkzeug == 0.9.4
itsdangerous == 0.24
nose == 1.3.3
SQLAlchemy == 0.9.4
Pillow
djangorestframework
django-cors-headers
pycurl
requests
ipython
gunicorn
django-extensions
django-finalware



###################################################
# MERGE WITH DATA_DIR/root/seahub/requirements.txt
###################################################

lockfile
pyes
ordereddict
python-dateutil
flup
python_daemon==1.5.5
chardet
six
Django==1.5.8
#Djblets==0.6.14

##############
# ADDITIONNAL
##############

MySQL-python==1.2.5
python-memcached
python-ldap

-e git+https://github.com/makinacorpus/djblets.git@release-0.6.x#egg=Djblets
